.flex-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.flex-container > div
{
    text-align: center;
}

#timer
{
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#timer span
{
    display: block;
    font-size: 4.5rem;
}